<header class="site-header">
  <nav class="navbar navbar-expand-lg py-3">
    <div class="container">
      <a class="navbar-brand" routerLink="/">Zaya Surf Morocco</a>
      <button
        class="navbar-toggler"
        type="button"
        data-bs-toggle="collapse"
        data-bs-target="#siteNav"
        aria-controls="siteNav"
        aria-expanded="false"
        aria-label="Toggle navigation"
      >
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="siteNav">
        <ul class="navbar-nav ms-auto align-items-lg-center gap-lg-4">
          <li class="nav-item"><a class="nav-link" routerLink="/" fragment="home">Home</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/packages" fragment="packages">Packages</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/house" fragment="house">House</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/rooms" fragment="rooms">Rooms</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/activities" fragment="activities">Activities</a></li>
          <li class="nav-item"><a class="nav-link" routerLink="/contact" fragment="contact">Contact</a></li>
          <li class="nav-item">
            <a class="btn btn-primary btn-sm" routerLink="/booking">Book Now</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
</header>

<router-outlet></router-outlet>

<footer id="contact" class="site-footer">
  <div class="container">
    <div class="row g-4">
      <div class="col-lg-4">
        <h3>Zaya Surf Morocco</h3>
        <p>
          A laid-back surf house for travelers, digital nomads, and wave lovers looking for
          authentic Moroccan hospitality.
        </p>
      </div>
      <div class="col-lg-3">
        <h4>Visit</h4>
        <p>Route d'Imi Ouaddar, Tamraght, Morocco</p>
        <p>+212 7 70 42 10 45</p>
      </div>
      <div class="col-lg-3">
        <h4>Explore</h4>
        <ul class="footer-links">
          <li><a routerLink="/" fragment="home">Home</a></li>
          <li><a routerLink="/" fragment="packages">Packages</a></li>
          <li><a routerLink="/" fragment="house">House</a></li>
          <li><a routerLink="/" fragment="rooms">Rooms</a></li>
          <li><a routerLink="/" fragment="activities">Activities</a></li>
        </ul>
      </div>
      <div class="col-lg-2">
        <h4>Legal</h4>
        <ul class="footer-links">
          <li><a href="#">Privacy Policy</a></li>
          <li><a href="#">Terms &amp; Conditions</a></li>
        </ul>
      </div>
    </div>
    <div class="footer-bottom">
      <div class="social-links">
        <a aria-label="Instagram" href="https://www.instagram.com/zayasurf/?hl=en"><i class="fa-brands fa-instagram"></i></a>
        <a aria-label="LinkedIn" href="#"><i class="fa-brands fa-linkedin-in"></i></a>
        <a aria-label="Facebook" href="#"><i class="fa-brands fa-facebook-f"></i></a>
      </div>
      <span>© 2026 Zaya Surf Morocco. All rights reserved.</span>
    </div>
  </div>
</footer>
